.mr8{margin-right:8px;}
.mr10{margin-right:10px;}
.pt10{padding-top:10px}
.pt20{padding-top:20px}

.ellipsis{text-overflow:ellipsis; -o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;vertical-align:top;white-space:nowrap;}